.container {
  width: 100%;
  height: 1100px;
  background-image: url("../../assets/tapete.jpg");
}

img {
  display: block;
  width: 25rem;
  margin: auto;
}

h2 {
  margin-top: 50px;
  text-align: center;
  color: rgb(156, 1, 1);
  font-size: 4rem;
}

.slider {
  width: 90%;
  margin: auto;
  margin-top: 80px;
}

.comprobar {
  margin: 150px 200px;
}

.footer {
  left: 33%;
  position: relative;
}

.info {
  margin: 20px;
  font-size: 2em;
  color: white;
}
