<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>
      Diana
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="logo">
      <img src="../../assets/diana_logo.png" alt="Logo App">
    </div>
    <div>
      <h2 *ngIf="!jugando">!Pulsa Comenzar para iniciar el juego¡</h2>
      <h2 *ngIf="jugando">{{objetivo}}</h2>
    </div>


    <div class="slider">
      <ion-item>
        <ion-range [(ngModel)]="tirada" min="1" max="100" pin="true" color="primary">
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">100</ion-label>
        </ion-range>
      </ion-item>
    </div>

    <div class="comprobar">
      <ion-button (click)="comparar()" expand="block" shape="round">
        ¿Habrás acertado?
      </ion-button>
    </div>

    <div class="footer">
      <ion-button class="info" color="warning" (click)="comenzar()" shape="round">
        Comenzar
      </ion-button>
      <ion-chip class="info">
        <ion-label>Puntos: {{acumulado}}</ion-label>
      </ion-chip>
      <ion-chip class="info">
        <ion-label>Intentos: {{intentos}}</ion-label>
      </ion-chip>
      <ion-button class="info" color="warning" (click)="presentAlertConfirmInfo()" shape="round">
        Info
      </ion-button>
    </div>
  </div>

</ion-content>